<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="../assets/logoProjeto.jpg" alt="logo">
        <h1>Ennubis Protection</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome" (click)="welcomePage()">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/products" (click)="productsPage()">Products</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/table" (click)="tablePage()">Product Table</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/suppliers" (click)="suppliersPage()">Suppliers</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="stockTable" (click)="stockTablePage()">Supplier Table</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="System Doc." nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a href="https://dontpad.com/DocSystemProject" target="_blank" rel="external">https://dontpad.com/DocSystemProject</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
